amqp==2.2.1
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-mail-templated==2.6.5
forex-python==0.3.2
idna==2.6
kombu==4.1.0
olefile==0.44
Pillow==8.2.0
pkg-resources==0.0.0
pprintpp==0.3.0
pycountry==17.5.14
pycountry-convert==0.2.2
pytz==2017.2
qrcode==5.3
requests==2.18.4
simplejson==3.11.1
six==1.10.0
urllib3==1.22
vine==1.1.4
