{% extends 'profile/base.html' %}
{% load static %}
{% block main%}
  <div class="row main">
      <div class="col s12 m12 l12">
          <div class="row">
            <div class="col s12 m12 l12 breadcrumbs">
              <div><span class="fa fa-comment"></span>Testimonials // add</div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l10">
                <div class="btcard testiment">
                    <h4>Add your testiment</h4>
                    <form class="" method="post">{% csrf_token %}
                      <div class="btcard-content">
                          <div class="form inp col s12 m12 l9">
                              <textarea class="textarea materialize-textarea" name="msg" id="" cols="30" rows="10" placeholder="Please enter your testiment"></textarea>
                          <div class="pass-btn">
                            <input type="submit" value="Post">
                          </div>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
