{% extends 'profile/base.html' %}
{% load static %}
{% block main%}
  <div class="row main wallet">
      <div class="col s12 m12 l12">
          <div class="row bread">
            <div class="col s12 m12 l12 breadcrumbs">
              <div><span class="fa fa-money"> </span> Upgrade to {{ nxt_level }}</div>
            </div>
          </div>
          <div class="row">
              <div class="col s12 m12 l12 upgrade">
                <div class="row">
                    <div class="col s12 m6 l6">
                      {% if pending_transaction is not 0 %}
                        <div class="btcard">
                          <div class="btcard-content">
                              <div class="btcard-head-text upgrade success">
                                <p><a href="/profile/stats">Payment claims made, go to confirm</a></p>
                              </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if payment_made is 0 %}
                        <div class="btcard" data-url="{% url 'profile:upgrade' %}">
                            <h4> Step 1: Send <span>Ghc {{ amount }}0</span> to your Upliner</h4>
                            <div class="btcard-content">
                                {% for op in ops  %}
                                  {% if not op.dsd %}
                                  <div class="danger">
                                      <h5>Instructions - Read Carefully</h5>
                                      <div>
                                          <p>You must complete the following <strong>2 steps</strong></p>
                                          <ol>
                                              <li>Send the amount stated above to your upliner</li>
                                              <li>Confirm Payment by sending a screenhost or message text</li>
                                          </ol>
                                          <p>You are required to make paymeny sa soon as possilble</p>
                                          <p>Your account will be upgraded when your upliner confirms your payment.</p>
                                          <p>if your upliner does not confirm payment your can make report.</p>
                                          <p>All donations are voluntarily and final.Prefund are not available.</p>
                                          <p>Communication about the upgrade process, donation and approval is between you and the payee only.</p>
                                          <p><strong>You have 12 hours to upgrade to stage 1 or your account will be deleted.</strong></p>
                                          <p>If your account expires while your donations for your first upgrade is pending approval your account will not be removed</p>
                                          <p>All disagreement and problems will not manually handled by system administrator.Submit a <a href="http://localhost:8000/profile/support/">support ticket</a> to report any issues</p>
                                          <p>You must read and agree fixp2p <a href="">terms of services</a></p>
                                          <div class="notice">
                                              <input type="checkbox" id="dsd" name="dsd"/>
                                                  <label for="dsd">
                                                    <svg class="checkmark" width="56" height="56">
                                                      <path d="m25,36 l14,-16"
                                                            style="stroke-dasharray: 27px;"></path>
                                                      <path d="m25,36 l-8,-9"
                                                            style="stroke-dasharray: 11px;"></path>
                                                    </svg>
                                                    <svg class="cross" width="56" height="56">
                                                      <path d="m28,28 l-8,-8"
                                                            style="stroke-dasharray: 13px;"></path>
                                                      <path d="m28,28 l8,8"
                                                            style="stroke-dasharray: 13px;"></path>
                                                      <path d="m28,28 l-8,8"
                                                            style="stroke-dasharray: 13px;"></path>
                                                      <path d="m28,28 l8,-8"
                                                            style="stroke-dasharray: 13px;"></path>
                                                    </svg>
                                                  </label>
                                              <span>Dont show this again</span>
                                          </div>
                                      </div>
                                  </div>
                                  {% endif %}
                                {% endfor %}
                                <p class="text-danger">Send exactly <span>Ghc {{ amount}}0</span> to the details listed below</p>
                                <div>
                                    <div class="live">
                                      <p>Mobile Money Number:{% if address %} <span>{{ address.momo_number }}</span> {% else %} empty {% endif %}</p>
                                      <p>Mobile Money Name: {% if address %} <span>{{ address.momo_name }}</span> {% else %} empty {% endif %}</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <h4>Step 2: Submit the payment details</h4>
                            <div class="btc-content">
                              {% for op in ops  %}
                                {% if not op.dsi %}
                                <div class="live">
                                    <h5>Confirming your payment</h5>
                                    <div>
                                        <ol>
                                            <li>Make a screenshot of the payment you made and post into the system</li>
                                            <li>The image sent your be clear or will be rejected</li>
                                            <li>If you cant send a screenshot type out the message instead into the text box</li>
                                            <li>Click on submit. Once your upliner confirm you your account will be upgraded</li>
                                        </ol>
                                        <div class="notice">
                                            <input type="checkbox" id="dsi" name="dsi" />
                                                <label for="dsi">
                                                  <svg class="checkmark" width="56" height="56">
                                                    <path d="m25,36 l14,-16"
                                                          style="stroke-dasharray: 27px;"></path>
                                                    <path d="m25,36 l-8,-9"
                                                          style="stroke-dasharray: 11px;"></path>
                                                  </svg>
                                                  <svg class="cross" width="56" height="56">
                                                    <path d="m28,28 l-8,-8"
                                                          style="stroke-dasharray: 13px;"></path>
                                                    <path d="m28,28 l8,8"
                                                          style="stroke-dasharray: 13px;"></path>
                                                    <path d="m28,28 l-8,8"
                                                          style="stroke-dasharray: 13px;"></path>
                                                    <path d="m28,28 l8,-8"
                                                          style="stroke-dasharray: 13px;"></path>
                                                  </svg>
                                                </label>
                                            <span> Dont show this again</span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                            <p class="medium">Payment Amount(GHS): Ghc {{ amount }}0</p>
                            <form class="payment" action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
                              <div class="inp">
                                  <label for="">Image Proof</label>
                                  <div class="file-field input-field">
                                    <div class="btn">
                                      <span>image</span>
                                      <input type="file" name="image_proof">
                                    </div>
                                    <div class="file-path-wrapper">
                                      <input class="file-path validate" type="text">
                                    </div>
                                  </div>
                              </div>
                              <div class="inp">
                                  <label for="">Text Proof</label>
                                  <textarea id="amount" name="text_proof" type="text" placeholder="Enter exact amount sent"></textarea>
                              </div>
                              <div class="sub">
                                  <input class="live-btn" type="submit" value="Submit">
                              </div>
                            </form>
                        </div>
                        {% else %}
                        <div class="btcard" >
                            <h4>Payment made waiting confirmation</h4>
                            <div class="btcard-content">
                              <p class="info">If after 12hrs your payment is not confirmed place a report</p>
                                <!-- <div class="timer">
                                  <span class="hour">09</span>:<span class="minute">12</span>:<span class="second">59</spandiv>
                                </div> -->
                              <div class="report">
                                <div class="button">Report</div>
                                <div class="message">Report successfull hold on will we notify your upliner.You can however try contacting your upliner</div>
                              </div>
                            </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="btcard">
                            <h4>Your Upliner</h4>
                            <div class="btcard-content">
                                <div class="btcard-img-head upgrade">
                                  <div class="btcard-img">
                                    <img src="{{ profile.sponsor.info.user_image.url }}" alt="">
                                  </div>
                                  <div class="btcard-name">
                                    <p>{{ upliner.username }}</p>
                                  </div>
                                </div>
                                <div class="table">
                                    <table>
                                      <tr>
                                        <td><span class="fa fa-envelope soc em"></span></td>
                                        <td>{{ upliner.email }}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="fa fa-phone soc tel"></span></td>
                                        <td>{% if upliner.dashboard.phoneNum %}{{ upliner.dashboard.phoneNum }} {% else %} -- {% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="fa fa-facebook-square soc fb"></span></td>
                                        <td>{% if upliner.info.fb_link %}{{ upliner.info.fb_link }}{% else %} -- {% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="fa fa-twitter-square soc twi"></span></td>
                                        <td>{% if upliner.info.twi_link %}{{upliner.info.twi_link}}{% else %} -- {% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="fa fa-linkedin-square soc lin"></span></td>
                                        <td>{% if upliner.info.lin_link %}{{ upliner.info.lin_link}}{% else %} -- {% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="fa fa-google-plus-square soc gg"></span></td>
                                        <td>{% if upliner.info.gm_link %}{{ upliner.info.gm_link}}{% else %} -- {% endif %}</td>
                                      </tr>
                                    </table>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
{% endblock %}
